<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand me-2" [routerLink]="'/'">
      <img
        class="img-fluid header-logo"
        [src]="'../../assets/img/logo.png'"
        alt="logo nutri path"
      />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
      </ul>

      <div class="d-flex align-items-center justify-content-center">
        <button
          *ngIf="shouldShowLoginButton('/home/login')"
          type="button"
          class="btn btn-link px-3 me-2"
          [routerLink]="['home/login']"
        >
          Login
        </button>
        <button
          *ngIf="shouldShowLoginButton('/home/register')"
          type="button"
          class="btn btn-primary me-3"
          [routerLink]="['home/register']"
        >
          Registre-se
        </button>
      </div>
    </div>
  </div>
</nav>
