<footer class="text-center text-lg-start bg-white text-muted">
  <section
    class="container d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <div class="me-5 d-none d-lg-block">
      <span>Entre em contato pelas nossas redes sociais:</span>
    </div>

    <div>
      <a class="me-4 link-secondary">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a class="me-4 link-secondary">
        <i class="fab fa-twitter"></i>
      </a>
      <a class="me-4 link-secondary">
        <i class="fab fa-google"></i>
      </a>
      <a class="me-4 link-secondary">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="me-4 link-secondary">
        <i class="fab fa-linkedin"></i>
      </a>
      <a class="me-4 link-secondary">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-apple-whole me-3 text-black"></i>NutriPath
          </h6>
          <p>
            O NutriPath ajuda os usuários a criar dietas balanceadas e adequadas
            às suas necessidades individuais.
          </p>
        </div>

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Produtos</h6>
          <p>
            <a class="text-reset">Dieta personalizada</a>
          </p>
          <p>
            <a class="text-reset">React</a>
          </p>
          <p>
            <a class="text-reset">Vue</a>
          </p>
          <p>
            <a class="text-reset">Laravel</a>
          </p>
        </div>

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Ajuda</h6>
          <p>
            <a class="text-reset">Sobre</a>
          </p>
          <p>
            <a class="text-reset">Suporte</a>
          </p>
          <p>
            <a class="text-reset"></a>
          </p>
          <p>
            <a class="text-reset">Help</a>
          </p>
        </div>

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contato</h6>
          <p><i class="fas fa-home me-3 text-black"></i> Curitiba, PR</p>
          <p>
            <i class="fas fa-envelope me-3 text-black"></i>
            nutripath@contato.com
          </p>
          <p><i class="fas fa-phone me-3 text-black"></i> + 41 1234 5678</p>
          <p><i class="fas fa-print me-3 text-black"></i> + 41 1234 5678</p>
        </div>
      </div>
    </div>
  </section>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025)">
    © 2023 Copyright:
    <a class="text-reset fw-bold" [routerLink]="['/']">NutriPath</a>
  </div>
</footer>
