<div class="register-form d-flex justify-content-center align-items-center">
  <form
    class="cold-md-10 p-5 bg-white rounded-6"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <a [routerLink]="'/'" class="d-flex justify-content-center mb-3">
      <img
        class="img-fluid w-50 center"
        src="../../../assets/img/logo.png"
        alt="logo nutri path"
      />
    </a>
    <div class="form-group">
      <div class="row">
        <div class="col-md-6 mb-4">
          <app-input-field
            id="name"
            placeholder="Nome"
            formControlName="name"
            [control]="$any(form.get('name'))"
            label="Nome"
          ></app-input-field>
        </div>

        <div class="col-md-6 mb-4">
          <app-input-field
            id="lastName"
            placeholder="Sobrenome"
            formControlName="lastName"
            [control]="$any(form.get('lastName'))"
            label="Sobrenome"
          ></app-input-field>
        </div>

        <div class="col-md-12 mb-4">
          <app-input-field
            id="email"
            placeholder="Email"
            formControlName="email"
            [control]="$any(form.get('email'))"
            label="Email"
          ></app-input-field>
        </div>

        <div class="col-md-6 mb-4">
          <app-input-field
            type="password"
            id="password"
            placeholder="Senha"
            formControlName="password"
            [control]="$any(form.get('password'))"
            label="Senha"
          ></app-input-field>
        </div>

        <div class="col-md-6 mb-4">
          <app-input-field
            type="password"
            id="confirmPassword"
            placeholder="Confirmar senha"
            formControlName="confirmPassword"
            [control]="$any(form.get('confirmPassword'))"
            label="Confirmar senha"
          ></app-input-field>
        </div>

        <div class="col-md-6 mb-4">
          <app-input-field
            id="age"
            placeholder="Idade"
            formControlName="age"
            [control]="$any(form.get('age'))"
            label="Idade"
          ></app-input-field>
        </div>

        <div class="col-md-6 mb-4">
          <app-input-field
            id="weigth"
            placeholder="Peso em KG"
            formControlName="weigth"
            [control]="$any(form.get('weigth'))"
            label="Peso"
          ></app-input-field>
        </div>

        <div class="col-md-6 mb-4">
          <app-input-field
            id="heigth"
            placeholder="Altura em CM"
            formControlName="heigth"
            [control]="$any(form.get('heigth'))"
            label="Altura"
          ></app-input-field>
        </div>

        <div class="col-md-6 mb-4">
          <app-input-field
            id="cep"
            placeholder="CEP"
            formControlName="cep"
            [control]="$any(form.get('cep'))"
            label="Cep"
          ></app-input-field>
        </div>

        <div class="col-md-6 mb-4">
          <div class="form-outline border rounded-2">
            <select
              id="state"
              class="form-control form-control-lg"
              formControlName="state"
              #stateRef
            >
              <option *ngFor="let state of states" [value]="state.sigla">
                {{ state.nome }}
              </option>
            </select>
            <label *ngIf="stateRef.value === ''" class="form-label" for="state"
              >Estado</label
            >

            <app-error-msg
              [control]="$any(form.get('state'))"
              label="Estado"
            ></app-error-msg>
          </div>
        </div>

        <div class="col-md-6 mb-4">
          <div class="form-outline border rounded-2">
            <select
              type="text"
              id="city"
              class="form-control form-control-lg"
              formControlName="city"
              #citiesRef
            >
              <option *ngFor="let city of cities" [value]="city.nome">
                {{ city.nome }}
              </option>
            </select>
            <label *ngIf="citiesRef.value === ''" class="form-label" for="city"
              >Cidade</label
            >

            <app-error-msg
              [control]="$any(form.get('city'))"
              label="Cidade"
            ></app-error-msg>
          </div>
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-block mb-4">
      Cadastrar
    </button>
  </form>
</div>
