.register-form {
  height: 94vh;
  background: rgb(255, 229, 229);
  background: linear-gradient(
    180deg,
    rgba(255, 229, 229, 1) 0%,
    rgba(255, 191, 191, 1) 100%
  );
}

@media (max-height: 800px) {
  .register-form {
    height: 800px;
  }
}
