<div class="dashboard d-flex justify-content-center align-items-center">
  <div
    class="container d-flex justify-content-center align-items-center dashboard-content"
  >
    <div class="col-3 dashboard-div">
      <div
        class="nav flex-column nav-pills text-center dashboard-nav"
        id="v-pills-tab"
        role="tablist"
        aria-orientation="vertical"
      >
        <a
          class="nav-link"
          id="v-pills-profile-tab"
          role="tab"
          aria-controls="v-pills-profile"
          [routerLinkActive]="['active']"
          [routerLink]="['novo']"
          >Adicionar refeição</a
        >
        <a
          class="nav-link"
          id="v-pills-profile-tab"
          role="tab"
          aria-controls="v-pills-profile"
          [routerLinkActive]="['active']"
          [routerLink]="['dieta']"
          >Dieta completa</a
        >
        <a
          class="nav-link"
          id="v-pills-profile-tab"
          role="tab"
          aria-controls="v-pills-profile"
          [routerLinkActive]="['active']"
          [routerLink]="['categoria', 'Lanche']"
          >Lanches</a
        >
        <a
          class="nav-link"
          id="v-pills-profile-tab"
          role="tab"
          aria-controls="v-pills-profile"
          [routerLinkActive]="['active']"
          [routerLink]="['categoria', 'Almoço']"
          >Almoço</a
        >
        <a
          class="nav-link"
          id="v-pills-profile-tab"
          role="tab"
          aria-controls="v-pills-profile"
          [routerLinkActive]="['active']"
          [routerLink]="['categoria', 'Jantar']"
          >Jantar</a
        >
      </div>
    </div>

    <div class="col s6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
