<div *ngIf="!emptyDiet" class="table-container rounded-6">
  <table class="table bg-white rounded-6">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Kcal</th>
        <th scope="col">Categoria</th>
        <th scope="col">Horário</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let food of diet">
        <th>{{ food.name }}</th>
        <td>{{ food.quantity }}</td>
        <td>{{ food.kcal }}</td>
        <td>{{ food.category }}</td>
        <td>{{ food.time }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div
  class="empty-table d-flex align-items-center justify-content-center flex-column"
  *ngIf="emptyDiet"
>
  <p class="text-center fs-3 fw-bolder m-0">
    Ainda não foi adicionado nada na dieta.
  </p>
  <a class="btn btn-primary" [routerLink]="['/dashboard/novo']"
    >Adicione agora</a
  >
</div>
