<div
  class="w-100 bg-white rounded-6 p-1 px-3 my-2 d-flex justify-content-between diet-info"
>
  <p class="m-0 fw-bolder text-center">Categoria > {{ categoria }}</p>
  <p *ngIf="!emptyDiet" class="m-0 fw-bolder text-center">
    Total > {{ calculateTotalCalories() }}Kcal
  </p>
  <a class="btn btn-white btn-sm" [routerLink]="['/dashboard/novo']"
    ><i class="fas fa-square-plus me-1"></i>Adicionar</a
  >
</div>

<div *ngIf="!emptyDiet; else empty" class="table-container rounded-6 d-flex">
  <table class="table bg-white rounded-6 m-0">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Porção</th>
        <th scope="col">Kcal</th>
        <th scope="col">Categoria</th>
        <th scope="col">Horário</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let food of diet">
        <th>{{ food.name }}</th>
        <td>{{ food.quantity }}</td>
        <td>{{ food.kcal }}</td>
        <td>{{ food.category }}</td>
        <td>{{ food.time }}</td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #empty>
  <div
    class="empty-table bg-white rounded-6 d-flex align-items-center justify-content-center flex-column"
  >
    <p class="text-center fs-3 fw-bolder m-0">
      Ainda não foi adicionado nada na categoria {{ categoria | lowercase }}.
    </p>
    <a class="btn btn-primary" [routerLink]="['/dashboard/novo']"
      >Adicione agora</a
    >
  </div>
</ng-template>
