@import "../../../../vars.scss";

.footer-infos {
  hr {
    width: 100px;
    color: $primary;
    border: 1px solid $primary;
  }
}

@media (max-width: 768px) {
  .footer-infos {
    hr {
      margin: 10px auto;
    }
  }
}
